# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local environment
*.local
.env

# IDE / Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache and temp files
.tmp/
.cache/
.prettiercache
.eslintcache
/public/*.cache
/public/static/

# Model and AI-related files
rag-chatbot/models/

# Ignore backend folder
BackEnd/
.bolt/